//! Icommoon
@font-face {
  font-family: "icomoon";
  src: url("./assets/fonts/icomoon.eot?2xw7v5");
  src: url("./assets/fonts/icomoon.eot?2xw7v5#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/icomoon.ttf?2xw7v5") format("truetype"),
    url("./assets/fonts/icomoon.woff?2xw7v5") format("woff"),
    url("./assets/fontsnts/icomoon.svg?2xw7v5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pinterest:before {
  content: "\e909";
}
.icon-youtube:before {
  content: "\e905";
}
.icon-brand:before {
  content: "\e905";
}
.icon-social:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
  color: $blue;
}
.icon-twitter:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-brand1:before {
  content: "\e908";
}
.icon-social1:before {
  content: "\e908";
}
.icon-quote:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e903";
}
.icon-angle-down-circle:before {
  content: "\e900";
}
.icon-like2:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
