.header {
  color: $white-1;
  position: relative;
  background: url('./assets/img/header/bg.jpg') no-repeat 50% / cover;
  height: 100vh;
  &__conteiner {
    height: 100%;
    @include flex_column_center;
    @include mobile {
      padding: 100px 15px 20px;
      justify-content: space-between;
      text-align: center;
    }
  }
  &__title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.1px;
    margin: 52px 0 4px 0;
    @include mobile {
      font-size: 40px;
    }
  }
  &__subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 5.3px;
    margin-bottom: 46px;
    @include mobile {
      font-size: 28px;
    }
  }
  &__scroll-down {
    position: relative;
    color: $white-1;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.95px;
    text-decoration: none;
    height: 40px;
    &::before,
    &::after {
      position: absolute;
      left: 50%;
      top: 100%;
      transform-origin: left;
      transform: translateY(-100%) rotate(-45deg);
      background-color: $white-1;
      content: "";
      display: block;
      width: 9px;
      height: 1px;
    }
    &::after {
      transform: translateY(-100%) rotate(-135deg);
    }
    @include mobile {
      display: none;
    }
    @include tablets {
      display: none;
    }
  }
}
.search {
  width: 100%;
  font-size: 0px;
  @include flex_row_center;
  margin-bottom: 115px;
  @include mobile {
    @include flex_column_center;
    margin-bottom: 0;
  }
  @include tablets {
    @include flex_column_center;
    margin-bottom: 0;
  }
  &__input {
    height: 60px;
    max-width: 500px;
    min-width: 390px;
    width: 100%;
    width: calc(500 / 1110 * 100%);
    border: none;
    padding-left: calc(125 / 1110 * 100%);
    color: $black-1;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.8px;
    &::placeholder {
      color: $silver-1;
    }
    @include mobile {
      width: 100%;
      min-width: initial;
      margin-bottom: 10px;
    }
    @include tablets {
      width: 90%;
      min-width: initial;
      margin-bottom: 10px;
    }
  }
  &__btn {
    padding: 5px 0 0 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      width: 100%;
    }
  }
  &__icon {
    margin-left: 11px;
    font-size: 25px;
  }
}
